<title>提交故障</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="main contain">
  <h1>提交故障</h1>
  <hr class="hr">

  <div class="content">
    <%= form_for @trouble do |f| %>
      <% if flash[:notice] %>
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      <%end%>
      <% if @trouble.errors.messages.count > 0 %>
        <div class="alert alert-danger">
          <% @trouble.errors.messages.each do |error| %>
            <%if error[0] == :name%>
              <%= "姓名"+error.second.first%>
              
            <%elsif error[0] == :phonenumber %>
              <%= "手机号码"+error.second.first%>
              
            <%elsif error[0] == :email %>
              <%= "E-mail"+error.second.first%>
              
            <%elsif error[0] == :customer_company %>
              <%= "公司名称"+error.second.first%>
              
            <%elsif error[0] == :customer_address %>
              <%= "公司地址"+error.second.first%>
              
            <%elsif error[0] == :product_type %>
              <%= "产品类型"+error.second.first%>
              
            <%elsif error[0] == :product_id %>
              <%= "产品型号"+error.second.first%>
              
            <%end%>
            <br>
  
          <%end%>
        </div>
      <%end%>
      <div class = "block_left">
        <span class='mytext'>&emsp;姓&emsp;名 *&emsp;</span>
        <span class='mytext'>&emsp;E-mail *&emsp;</span>
        <span class='mytext'>手机号码 *&emsp;</span>
        <span class='mytext'>公司名称 *&emsp;</span>
        <span class='mytext'>公司地址 *&emsp;</span>
        <span class='mytext'>合同号 &emsp;</span>
        <span class='mytext'>产品类型 *&emsp;</span>
        <span class='mytext'>产品型号 *&emsp;</span>
        <span class='mytext'>故障内容 &emsp;</span>
      </div>
      
      <div class = "block_right">
        <%= f.text_field :name, autofocus: true, :class => 'myfield' %>
        <%= f.email_field :email, autofocus: true, :class => 'myfield' %>
        <%= f.text_field :phonenumber, autofocus: true, :class => 'myfield' %>
        <%= f.text_field :customer_company, autofocus: true, :class => 'myfield' %>
        <%= f.text_field :customer_address, autofocus: true, :class => 'myfield' %>
        <%= f.text_field :contract_id, autofocus: true, :class => 'myfield' %>
        <%= f.text_field :product_type, autofocus: true, :class => 'myfield' %>
        <%= f.text_field :product_id, autofocus: true, :class => 'myfield' %>
        <%= f.text_area :text, autofocus: true, :class => 'mycomplain'%>
        <br>
        <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
        <%= rucaptcha_image_tag(alt: 'Captcha') %>
        <br>
        <%= f.submit "提交", :class => 'submit' %>
        <a style="margin-top: 21px; margin-bottom:118px;"></a>
      </div>

  </div>
  <% end %>

</div>