<!--specialnews two index-->
<link rel="stylesheet" type="text/css" href="/css/specialnews.css">
<div class="main contain">
    <div class="topnews">
        <h1>科陆20周年激情成就梦想</h1>
    </div>
    <hr class="hr">
    <div class="topnewscontent">
        <div class="newsimg" style='background-image: url("../img/homepage/cultural.jpg")'></div>
        <p class="newsoutline"> &nbsp; &nbsp;&nbsp;&nbsp;号外号外！小伙伴们，精彩纷呈的20周年司庆系列活动即将拉开序幕，欢迎大家踊跃报名~~</p>
    </div>
    <hr style="margin-bottom: 50px;">
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2014ChrismasParty.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2014年圣诞“趴体”</h3>
                <p class="newscontentp typetwop">欢乐圣诞，狂欢派对</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2015BirthdayParty.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2015年员工生日会</h3>
                <p class="newscontentp typetwop">员工生日，公司关怀</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2015sportsmeet1.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.third.id), class:"specialnewslink" if SpecialNewsTwo.count >= 3 and SpecialNewsTwo.third.Authorized %>-->
            <div class="figcaption">
                <h3>2015年运动会</h3>
                <p class="newscontentp typetwop">科陆精神，奋斗拼搏</p>
            </div>
        </div>
        
    </div>
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2015sportsmeet2.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2015年运动会（二）</h3>
                <p class="newscontentp typetwop">绽放自我，放飞梦想</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2015TeamBuild.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2015年部门拓展</h3>
                <p class="newscontentp typetwop">户外拓展，团队精神</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2016dangzhibu.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.third.id), class:"specialnewslink" if SpecialNewsTwo.count >= 3 and SpecialNewsTwo.third.Authorized %>-->
            <div class="figcaption">
                <h3>2016党支部“两学一做”培训活动</h3>
                <p class="newscontentp typetwop">“两学一做”，争做先锋</p>
            </div>
        </div>
        
    </div>
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2016familyday1.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2016年亲子活动</h3>
                <p class="newscontentp typetwop">亲子活动，一起开心</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2016familyday2.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2016年亲子活动-展厅科普</h3>
                <p class="newscontentp typetwop">亲子活动，文化传承</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2016bahe.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.third.id), class:"specialnewslink" if SpecialNewsTwo.count >= 3 and SpecialNewsTwo.third.Authorized %>-->
            <div class="figcaption">
                <h3>2016年拔河比赛</h3>
                <p class="newscontentp typetwop">文体活动，凝聚人心</p>
            </div>
        </div>
        
    </div>
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2016newyearceremony.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2016年春晚</h3>
                <p class="newscontentp typetwop">集团春晚，视觉饕餮</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017NCG1.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2017应届毕业生拓展培训</h3>
                <p class="newscontentp typetwop">应届培训，梦想起航</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017NCG2.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.third.id), class:"specialnewslink" if SpecialNewsTwo.count >= 3 and SpecialNewsTwo.third.Authorized %>-->
            <div class="figcaption">
                <h3>2017应届毕业生拓展培训</h3>
                <p class="newscontentp typetwop"></p>
            </div>
        </div>
        
    </div>
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017lightClassroom.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2017科陆公益—“点亮课堂”</h3>
                <p class="newscontentp typetwop">科陆公益，点亮课堂</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017lightclassroom1.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2017点亮课堂(二)</h3>
                <p class="newscontentp typetwop"></p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017lightclassroom3.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.third.id), class:"specialnewslink" if SpecialNewsTwo.count >= 3 and SpecialNewsTwo.third.Authorized %>-->
            <div class="figcaption">
                <h3>2017点亮课堂(三)</h3>
                <p class="newscontentp typetwop"></p>
            </div>
        </div>
        
    </div>
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017managerTeambuild.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2017管理干部拓展培训</h3>
                <p class="newscontentp typetwop">“聚能计划”，蓄势待发</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017yingxiaotuanjian.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2017营销管委会团建</h3>
                <p class="newscontentp typetwop">团建旅游，乐在其中</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017footballmatch1.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.third.id), class:"specialnewslink" if SpecialNewsTwo.count >= 3 and SpecialNewsTwo.third.Authorized %>-->
            <div class="figcaption">
                <h3>2017足球友谊赛（一）</h3>
                <p class="newscontentp typetwop">员工俱乐部，就等你来秀</p>
            </div>
        </div>
        
    </div>
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017football2.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.first.id), class:"specialnewslink" if SpecialNewsTwo.count >= 1 and SpecialNewsTwo.first.Authorized %>-->
            <div class="figcaption">
                <h3>2017足球友谊赛（二）</h3>
                <p class="newscontentp typetwop"></p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/2017football3.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <!--<%= link_to "", special_news_two_path(:id => SpecialNewsTwo.second.id), class:"specialnewslink" if SpecialNewsTwo.count >= 2 and SpecialNewsTwo.second.Authorized %>-->
            <div class="figcaption">
                <h3>2017足球友谊赛（三）</h3>
                <p class="newscontentp typetwop"></p>
            </div>
        </div>
    </div>
    
<!--    <div class="photowall">-->
<!--        <div class="specialnews typeone" style='background-image: url("../img/specialnews/11.jpg")' id="topic_two">-->
<!--            <div class="gradient-cover">-->
                
<!--            </div>-->
<!--            <%= link_to "", special_news_two_path(:id => SpecialNewsTwo.fourth.id), class:"specialnewslink" if SpecialNewsTwo.count >= 4 and SpecialNewsTwo.fourth.Authorized %>-->
<!--            <div class="figcaption">-->
<!--                <h3>11月-科陆春晚直通车</h3>-->
<!--                <p class="newscontentp typetwop">科陆大舞台 有才你便来</p>-->
<!--            </div>-->
<!--        </div>-->
        
<!--        <div class="specialnews typetwo" style='background-image: url("../img/specialnews/12.jpg")' id="topic_two">-->
<!--            <div class="gradient-cover">-->
<!--            </div>-->
<!--            <%= link_to "", special_news_two_path(:id => SpecialNewsTwo.fifth.id), class:"specialnewslink" if SpecialNewsTwo.count >= 5 and SpecialNewsTwo.fifth.Authorized %>-->
<!--            <div class="figcaption">-->
<!--                <h3>12月-科陆宝宝圣诞狂欢夜</h3>-->
<!--                <p class="newscontentp typetwop">小家 大家 科陆一家亲</p>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->
    
    
    
    
    
    
</div>
