<!--specialcase one#index-->

<link rel="stylesheet" type="text/css" href="/css/specialnews.css">
<div class="main contain">
    <%if @news_two != nil %>
        <div class="topnews">
            <!--<h1>〝CIBF2016〞登陆鹏城，科陆储能闪耀全场</h1>-->
            <a class="specialnewstitle" href="/special_news_one/2"><%= @news_two.title%></a>
        </div>
        <hr class="hr">
        <div class="topnewscontent">
            <div class="newsimg" style='background-image: url(<%= @news_two.image%>)'></div>
            <p class="newsoutline"> &nbsp; &nbsp;&nbsp;&nbsp;<%= @news_two.description%></p>
        </div>
        <hr style="margin-bottom: 50px;">
    <%end%>
    <!--<%@news.each do |news|%>-->
    <!--    <div class="specialnews" style='background-image: url("<%= news.image%>");'>-->
    <!--        <div class="feature-gradient">-->
                
    <!--        </div>-->
            <!--<a href="#" class="specialnewslink"></a>-->
    <!--        <%= link_to "", special_news_one_path(:id => news.id), class:"specialnewslink" %>-->
    <!--        <div class="figcaption">-->
    <!--            <h2><%= news.title%></h2>-->
    <!--            <p class="newscontentp"><%= news.description%></p>-->
    
    <!--        </div>-->
    <!--    </div>-->
    <!--<%end%>-->
    <%if @news_one != nil %>
        <div class="topnews">
            <a class="specialnewstitle" href="/special_news_one/1"><%= @news_one.title%></a>
        </div>
        <hr class="hr">
        <div class="topnewscontent">
            <div class="newsimg" style='background-image: url(<%= @news_one.image%>)'></div>
            <p class="newsoutline"> &nbsp; &nbsp;&nbsp;&nbsp;<%= @news_one.description%></p>
        </div>
        <hr style="margin-bottom: 50px;">
    <%end%>
    <!--<div class="footnews">-->
        <!--<h1>“2016第六届中国国际储能大会” 科陆斩获三项大奖</h1>-->
    <!--    <a class="specialnewstitle" href="/special_news_one/2"><%= @news_two.title%></a>-->
    <!--</div>-->
    <!--<hr class="hr">-->
    <!--<p class="bottomnewscontent">-->
    <!--        <%= @news_one.description %>-->
    <!--</p>-->
    <!--<div class="specialoneimagefield">-->
    <!--    <div class="singleimage" style="background-image: url('../img/specialnews/honer1.jpg')">-->
            
    <!--    </div>-->
    <!--    <div class="singleimage" style="background-image: url('../img/specialnews/honer2.jpg')">-->
            
    <!--    </div>-->
    <!--    <div class="singleimage" style="background-image: url('../img/specialnews/honer3.jpg')">-->
            
    <!--    </div>-->
    <!--    <div class="singleimage" style="background-image: url('')">-->
            
    <!--    </div>-->
    <!--</div>-->
    <div class="specialvideos">
        <h1>相关视频</h1>
        <hr class="hr">
        <div class="videos">
            <div class="video leftpart">
                <a class='videoone' style="background-image: url('../img/specialnews/video_special1.png')"></a>
                <a id="video_one_link" href="#" style="font-size: 16px;" onclick="return false;">科陆智慧能源之储能电厂</a>
            </div>
        </div>
    </div>
    
    
    
</div>


<!-- Modal video one -->
<div class="modal hide fade" id="video_one_modal">
    

  <div id="videocenter" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;"><span aria-hidden="true">&times;</span></button>
    
    <video oncontextmenu="return false;" class="newsvideo" src="/videos/video_special1.mp4"  controls="controls">
        Your browser does not support the video tag.
    </video>

  </div>

  
</div> 






<!-- Modal video two -->
<!--<div class="modal hide fade" id="video_two_modal">-->
    

<!--  <div id="videocenter" class="modal-header">-->
<!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;"><span aria-hidden="true">&times;</span></button>-->
    
<!--    <video oncontextmenu="return false;"  class="newsvideo" src="/videos/video2.mp4"  controls="controls">-->
<!--        Your browser does not support the video tag.-->
<!--    </video>-->

<!--  </div>-->

  
<!--</div> -->





