<!--specialcase one#index-->

<link rel="stylesheet" type="text/css" href="/css/specialnews1.css">
<div class="banner" style="background-image: url('../img/specialnews/fightDisease.jpg') !important;">
    <div class="slogan contain">
        <!--<h8>抗击冠状病毒,科陆在行动！</h8><br>-->
    </div>
</div>
<div class="main contain">

    <%@news.each do |news|%>
        <%if news != nil and news.Authorized%>
        <!--<div class="specialnews" style='background-image: url("<%= news.image%>");'>-->
        <!--       <div class="feature-gradient">-->
                    
        <!--        </div>-->
               
    
        <!--        <a href="/special_news_one/<%=news.id%>" class="specialnewslink"><%=news.title%></a>-->
                <!--<%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "newstitle")%>-->
        <!--        <div class="figcaption">-->
        <!--            <h2><%= news.title%></h2>-->
        <!--            <p class="newscontentp"><%= news.description%></p>-->
        
        <!--       s </div>-->
        <!--    </div>-->
         <li>
                <div class="newscell">
                    <div class="newsimg" style="background: url(<%= news.image%>);">
                        
                    </div>
                    <div class="text-field">
                        <a href="/special_news_one/<%=news.id%>" class="specialnewslink"><%=news.title%></a>
                        <p class="newstime"><%= news.created_at.to_date %><p class="newstext"><%= news.description %></p></p>
                    </div>
                </div>
            </li>
        <%end%>
    <%end%>


</div>








